<!--
	TODO: Esto es el Header. Asi que podria definir muy bien que es cada uno de estos elementos
-->
<template name="layoutHeader">
	<div class="container-fluid">
		<div class="nav" role="navigation">
			<div class="row navbar-shop">
				<!-- TODO -->
				<div class="navbar-brand">{{> headerBrand}}</div>
				<!-- TODO -->
				<div class="navbar-cart">{{> cartIcon}}</div>
				<!--
					TODO: Agregar nuevamente el cartPanel
				-->
				<!--<div class="cart-alert">{{> cartPanel}}</div>-->
				<!--
					TODO
					Entender como funciona esta parte
					Esta claro que para este caso accounts es el Template y tpl es una variable que se pasa al scope de Template accounts
				-->
				<div class="navbar-accounts">{{> accounts tpl="loginDropdown"}}</div>
				<!-- TODO -->
				<div class="navbar-languages">{{> i18nChooser}}</div>
			</div>
			<div class="row navbar-primary-tags">
				<!-- TODO -->
				<div class="navbar-tags">{{> headerTags}}</div>
			</div>
		</div>
	</div>
</template>
