 
 <!--
 	Muestra un conjunto de productos disponibles.
 -->
 <!-- TODO: More Info -->
<template name="productGrid">
	<div class="product-grid" data-event-category="grid" data-event-action="generic-click" data-event-label="product grid click">
		<ul class="product-grid-list list-unstyled" id="product-grid-list">
			{{#each products}}
				{{> productGridItems}}
			{{/each}}
		</ul>
	</div>
</template>

<!--
	Muestra información simple de un producto.
-->
 <!-- TODO: More Info -->
<template name="productGridItems">
	<li class="product-grid-item" data-id="{{_id}}" id="{{_id}}">
		<!-- Agrega noticia relacionada al producto -->
		{{> gridNotice}}
		<div class="product-grid-item-images">
			<a href="{{pathForSEO 'product' 'handle'}}" data-event-category="grid" data-event-action="product-click" data-event-label="grid product click" data-event-value="{{_id}}">
				<!-- Muestra foto de produecto si tiene, en caso contrario muestrra una foto Default -->
				{{#with media}}
					<img src="{{url store='large'}}" class="img-responsive" alt="{{title}}">
				{{else}}
					<img src= "/resources/placeholder.gif" class="img-responsive" alt="">
				{{/with}}
			</a>
		</div>
		<!-- Agrega Permissos de modificacion -->
		{{> gridControls}}
		<!-- Infoermación extra -->
		{{> gridContent}}
	</li>
</template>

<!--
	Muestra información en relacion al stock del producto.
	Se muestra información cuando:
	- Backorder
	- No hay Stock
	- Queda poco 
-->
 <!-- TODO: More Info Backorder -->
<template name="gridNotice">
	{{#if isSoldOut}}
		{{#if isBackorder}}
			<span class="variant-qty-sold-out badge">Backorder</span>
		{{else}}
			<span class="variant-qty-sold-out badge">Sold Out!</span>
		{{/if}}
	{{else}}
		{{#if isLowQuantity}}
			<div class="badge badge-low-inv-warning" title="">Limited Supply</div>
		{{/if}}
	{{/if}}
</template>

<!-- 
	Muestra información extra del producto
	TITULO y PRECIO
-->
<template name="gridContent">
		<a href="{{pathForSEO 'product' 'handle'}}" data-event-category="grid" data-event-action="product-click" data-event-label="grid product click" data-event-value="{{_id}}">
		<div class="overlay">
			<div class="overlay-title">{{title}}</div>
			<div class="currency-symbol">{{formatPrice displayPrice}}</div>
		</div>
	</a>
</template>

<!--
	Agrega opciones si el usuario es administrador
	Estas opciones corresponden a:
	- Clonar producto
	- Eliminar producto
	- Publicar producto
	- 
-->
 <!-- TODO : agregar opcion faltante de admin-->
<template name="gridControls">
	{{#if userHasRole "admin"}}
		<div class="product-grid-controls">
			{{#if isVisible}}
				<span class="fa fa-eye fa-lg publish-product" title="Publish"></span>
			{{else}}
				<span class="fa fa-eye-slash  fa-lg pull-left publish-product" title="Publish"></span>
			{{/if}}
			<span class="fa fa-code-fork fa-rotate-180 fa-lg clone-product"  title="Clone product"></span>
			<span class="fa fa-trash-o delete-product fa-lg" title="Delete product"></span>
		</div>
	{{/if}}
</template>